.busca {
  display: flex;
  padding: 11px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 6px;
  background: #222;

  p {
    color: rgba(255, 255, 255, 0.33);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
