<section class="criar-tarefa">
  <h1>Criar</h1>
  <form (ngSubmit)="onSubmit()" class="campo-criacao">
    <input
      [(ngModel)]="tarefa.titulo"
      class="titulo"
      id="titulo"
      name="titulo"
      placeholder="Título" required
    />
    <textarea
      [(ngModel)]="tarefa.descricao"
      class="descricao"
      id="descricao"
      name="descricao"
      placeholder="Título" required
    ></textarea>

    <button class="botao-adicionar" type="submit">
      <img alt="+" src="../../../assets/plus.svg"/>
    </button>
  </form>
</section>
