<section class="box-padrao-conteudo">
  @if(tarefas){
    @for(tarefa of tarefas; track tarefa.id){
      <app-tarefa (marcarStatus)="atualizar()" (deletaTarefa)="atualizar()" [tarefa]="tarefa"></app-tarefa>
    }
  } @else {
    <p>Não há tarefas!</p>
  }

  <div class="barra-inferior">
    <p>{{ tarefasPendentes }} tarefas restantes</p>
    <menu>
      <p>Todas</p>
      <p>Ativas</p>
      <p>Completas</p>
    </menu>
    <p class="remover-completas">Remover completas</p>
  </div>
</section>
