<section class="box-padrao-conteudo">
  @if (tarefas.length != 0) {

    <div class="box-tarefas">

      @for (tarefa of tarefas; track tarefa.id) {
        <app-tarefa
          (marcarStatus)="resgatarTarefas()"
          (deletaTarefa)="resgatarTarefas()"
          [tarefa]="tarefa"
        ></app-tarefa>
      }

    </div>
  } @else {
    <p>Não há tarefas!</p>
  }

  <div class="barra-inferior">
    <p>{{ tarefasPendentes }} tarefas restantes</p>
    <menu>
      <p (click)="paginacao='todas'; resgatarTarefas()">Todas</p>
      <p (click)="paginacao='pendentes';resgatarTarefas() ">Pendentes</p>
      <p (click)="paginacao='concluidas';resgatarTarefas() ">Concluidas</p>
    </menu>
    <p class="remover-completas" (click)="removerTarefasProntas()">
      Remover completas
    </p>
  </div>
</section>
