.container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 1em;

  p {
    margin: 0.6rem 0;
  }

  .usuario {
    display: inline-block;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.2rem 0.3rem;
    border-radius: 0.5rem;
  }

  .elipse {
    background-color: transparent;
    box-sizing: border-box;
    border: white solid 0.15rem;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    margin: auto;

    cursor: pointer;
  }

  .elipse-cheia {
    @extend .elipse;

    background-color: white;
  }

  img {
    margin: auto;

    cursor: pointer;
  }
}
