@use '../tarefa-estado-inicial/tarefa-estado-inicial.component';

.frame-tarefa {
  background: rgba(255, 255, 255, 0.40);

  .caixa-texto {
    h1 {
      color: rgba(255, 255, 255, 0.58);
    }

    h2 {
      color: rgba(255, 255, 255, 0.58);
    }
  }
}
