.campo-criar-tarefa {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

textarea {
  all: unset;
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

img {
  cursor: pointer;
}
