.container-tarefa-estado-inicial {
  display: flex;
  padding: 14.159px;
  width: fit-content;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 15.732px;
  flex-wrap: wrap;
  flex-direction: column;

  border-radius: 10px;
  background: linear-gradient(90deg, #00C097 0%, #EBCE6E 100%);
}
